* {
  margin: 0;
  padding: 0;
}
/*  colors to use on this project
Dark purple 37123C
Khaki A99F96
Rose taupe 945D5E
*/

/* Header.css */
header {
  background-color: #37123C; /* Dark purple */
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
}

.left-section,
.middle-section,
.right-section {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 100px; 
  height: auto;
  margin-left: 20px ;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav li {
  margin-right: 20px;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav a.active {
  color: #fff; 
  font-weight: bold; 
}

.currency-buttons {
  margin-right: 20px;
}

button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

button:hover {
  font-weight: bold;
}

body {
  margin: 0;
  padding-top: 50px;
}

/* Footer.css */
footer {
  background-color: #945D5E; /* Rose taupe */
  color: #fff;
  padding: 20px;
  text-align: center;
}
.social-icons {
  padding: 10px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.social-icons i {
  font-size: 24px;
}
/* ending for header and footer */
/* Home.css */
.banner {
  background-color: #37123C; /* Dark purple */
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.banner svg {
  width: 100%;
  height: auto;
}

.banner-text {
  margin-top: 20px;
}

.product-section {
  padding: 25px 0;
  text-align: center;
}

.product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

/* Home style ending */

/* Product.css */
.product {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.product-image {
  width: 100%;
  text-align: center;
}

.product-image img {
  max-width: 100px; 
  max-height: 100px; 
  width: auto;
  height: auto;
}

.product-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
}

.left-details {
  flex-grow: 1;
}

.right-details {
  margin-left: 20px;
}

.product h3 {
  margin-bottom: 10px;
}

.product p {
  margin-bottom: 15px;
}

/* Products.css */
.form-container {
  width: 50%; 
  margin: 0 auto;
}

.container-title {
  margin: 20px auto; /* Center the container horizontally */
  text-align: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
}

.product {
  position: relative; 
  width: calc(25% - 20px); 
  margin-bottom: 20px;
  box-sizing: border-box;
}

.product-price {
  position: absolute; 
  bottom: 10px; 
  right: 10px; 
}

/* Form styles */
form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

input[type="file"] {
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  background-color: #37123C; /* Dark purple */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #945D5E; /* Rose taupe */
}
